# System / temp files
.DS_Store
*~
*.swp
*.bak
*.tmp
*.pyc
*.pyo
*.pyd
__pycache__/

# Build artifacts
/build*/
*.o
*.exe
*.dmg
*.dll
*.a
*.la
*.lib
*.pdb
*.obj
*.idb
*.tlog
*.lastbuildstate
*.unsuccessfulbuild
*.ilk
*.log
*.db
/Debug/
/Release/

# Dependency management
/node_modules/
/subprojects/packagecache/
/subprojects/tpt-libs-prebuilt-*/

# IDE/Project files
/.idea/
/.vscode/
/.vs/
*.sublime-*
*.project
*.cproject
*.settings/
*.cbp
*.layout
*.user
*.config
*.creator*
*.files
*.includes
*.kdev4/
/.kdev4/
*.xcodeproj/
*.plist
*.lproj/
*.opensdf
*.sdf
*.suo
*.sln
*.vcxproj*
*.manifest
*.manifest.res
*manifest.rc
*res.res
compile_commands.json

# Local overrides / data
/ignore/
/stamps/
/Saves/
/scripts/
/recordings/
/generated/
/site_scons/
config.log
*.sconsign.dblite
*.sconf_temp
/font/

# Project-specific generated content
/docs/wiki/TPT_Markdown_English/*
!/docs/wiki/TPT_Markdown_English/README.md
/docs/wiki/*.html

# User data
*.def
*.pref
*.lua
screenshot_*

# Miscellaneous
*.gch
.codex
